body
{
	font-family: "Helvetica",Arial,sans-serif;
	font-weight: 500;
	color:#333;
	background-color:#fbfbfb;
	font-size: 14px;
}
label
{
	display:block;
	font-size:13px;
	color:#666666;
}

#box
{
	margin: 10px auto;
	text-align: left;
	padding: 20px;
	background-color: #ffffff;
	color: #333;
	border: 1px solid #e5e5e5;
	box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	max-width: 400px;
}

.msg
{
	font-size:11px;
	color:#666;
	padding:10px;
}
#error{font-size:12px; margin-top:10px}

.icon{
	background:url(../images/icons.png)  no-repeat 0px 0px;
	height:20px;
	width:30px;
	display: block;
	float: right;

}
.user{
	background: url(../images/icons.png) no-repeat 7px 1px;
	
}
.lock{
	background: url(../images/icons.png) no-repeat -24px 1px;
}
.white, .white a {
  color: #fff;
}


.glyphicon-refresh-animate {
    -moz-animation: spin-moz .7s infinite linear;
    -webkit-animation: spin-webkit .7s infinite linear;
    animation: spin .7s infinite linear;
}

@-moz-keyframes spin-moz {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

@-webkit-keyframes spin-webkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.left-panel{
	
	color:white;
	
}

.select{
   background: blue;
   padding: 10px;
   color: white;
   text-decoration: none;
}

